################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Dd]ebug/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
.vscode/
**/.idea/
/client/clientside.backend/clientside.backend/orderdatabase.db
/client/clientside.backend/clientside.backend/orderdatabase.db-shm
/client/clientside.backend/clientside.backend/orderdatabase.db-wal
