################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Dd]ebug/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
.vscode/
**/.idea/
orderdatabase.db
orderdatabase.db-shm
orderdatabase.db-wal
**/inventory.ini
**/ssh-key
/client/clientside.backend/clientside.backend/Properties/PublishProfiles
/client/clientside.backend/clientside.backend/.config
