################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/client/.vs
/server/ROL.Server.Api/.vs
/client/rol.client.client/.vscode
/client/ROL.Client.Server/obj
