<div class="card w-100 mt-5">
    <div class="card-header">
        <h3>Lägg till varor</h3>
    </div>
    <div class="card-body">
        @if(this.items()){
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Tillverkare</th>
                    <th scope="col">Pris</th>
                    <th scope="col">Antal</th>
                    <th scope="col"><p class="d-none">Lägg till</p></th>
                    </tr>
                </thead>
            @for(item of this.items(); track item.id;){
            <tr class="mb-3">
                <th>{{item.name}}</th>
                <td>{{item.manufacturer}}</td>
                <td>{{item.price}} kr</td>
                <td><input type="number" id="quantity-{{item.id}}" min="1" class="form-control" placeholder="Antal" (input)="updateAmount(item.id, $event.target.valueAsNumber)"></td>
                <td><button class="btn btn-sm btn-success" (click)="addToOrder(item)">Lägg till i varukorg</button></td>
            </tr>
            }
            </table>
        }
        @else{
            <p>Inga varor tillgängliga.</p>
        }
    </div>
</div>