/* Grundläggande stil för slider */
.checkbox-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding-left: 4px;
  padding-right: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Döljer den vanliga checkboxen */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Stil för själva sliden */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 17px;
}

/* Den lilla cirkeln som rör sig */
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

/* När checkboxen är påslagen (checked) */
input:checked + .slider {
  background-color: #4CAF50; /* Grön färg när den är aktiverad */
}

/* Flytta cirkeln till höger när den är aktiverad */
input:checked + .slider:before {
  transform: translateX(15px);
}

/* Lägg till en effekt när du håller på att hovera */
.slider:hover {
  background-color: #b5e7b1;
}