<div class="card mb-2">
    <div class="card-header">
        <div class="row">
        <div class="col-10"><h3 class="pt-2">{{infoItem()?.title}}</h3></div>
        <div class="col-2 d-flex justify-content-end">
            @if(infoItem()?.status === 'SavedLocal') {
                <p>&#127769;</p>
            } 
            @if(infoItem()?.status === 'SavedRemote') {
                <p>&#127774;</p>
            }
        </div>
    </div></div>
    <div class="card-body">
        {{infoItem()?.text}}
        <div class="row">
            <small class="col-12">publicerad: <wbr><span class="nowrap">{{infoItem()?.publishDate |
                    date:'short'}}</span></small>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" (click)="edit()">Ändra</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button class="btn btn-danger" (click)="unpublish()">Avpublicera</button>
            </div>

        </div>

    </div>

</div>