<div class="card">
    <div class="card-header">
        <h3>Beställningslista</h3>
    </div>
    <div class="card-body">
        @if(this.orders()){
            <table class="table">
            <thead>
                <tr>
                <th>Kund</th>
                <th>Adress</th>
                <th>Stad</th>
                <th>Postnummer</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for(order of this.orders(); track order.id){
                <tr>
                    <td>{{order.customer.name}}</td>
                    <td>{{order.deliveryAddress}}</td>
                    <td>{{order.deliveryCity}}</td>
                    <td>{{order.deliveryPostalCode}}</td>
                    <td>{{order.status}}</td>
                </tr>
                }
        </table>
        }
        @else{
            <p class="text-center">Inga beställningar hittades.</p>
        }
    </div>
</div>