<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav">
        <a class="navbar-brand" href="#">Rock and RÖL</a>
        <a class="nav-link" href="order-list">Beställningar</a>
        <a class="nav-link" href="add-order">Ny beställning</a>
        <a class="nav-link" href="organization-list">Organisationer</a>
        <a class="nav-link" href="information">Information</a>
      </div>
  </div>
  <div class="navbar-nav">
    <a class="nav-link" href="cart">Varukorg</a>
  </div>
</nav>